
<center>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
        <tbody>
        <% @new.each do |new,i| %>
          <tr class="athing" >
            <td align="right" valign="top" class="title">
              <span class=rank"> <%= i %>  </span>
            </td>

            <td valign="top" class="votelinks"></td>
            <td class="title">
              <a href="<%= new.url %>" > <%= new.title %> </a>
            </td>
          </tr>
        <% end %>
        </tbody>

      </table>

    </td>

  </tr>
</center>
